<!DOCTYPE html>
<html>
<head>
    <title>EasyEvents - Events for fun</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
        $(document).ready(function() {
            $.ajaxSetup({ cache: true });
            $.getScript('//connect.facebook.net/en_UK/all.js', function(){
                FB.init({
                    appId: '1444445472447712',
                    channelUrl: '//localhost/channel.html'
                });
//                $('#loginbutton').removeAttr('disabled');
//                FB.getLoginStatus(function(response){
//                    if (response.authResponse)
//                    {
//                        console.log(response.authResponse);
//                    } else
//                    {
//                        window.loggedIn=false;
//                    }
//                }, true);
            });
        });
    </script>
</head>

<body>
    <div id="fb-root"></div>
    <div data-role="page" class="fb-login-page">
        <div class="fb-login-button" autologoutlink="true" data-show-faces="true" data-width="200"
             data-max-rows="2" size="xlarge">
    </div>
</body>
</html>
<!DOCTYPE html>