body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.fb-login-page {
    text-align: center;
    padding-top: 10em;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.form label.ui-input-text {
    margin-bottom: 1em;
}